.overlay {
    visibility: hidden;
    background: rgba(0, 0, 0, 0.0);

    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    transition: all 0.3s ease;
    z-index: 0;
}

.overlay-overlaying {
    visibility: visible;
    background: rgba(128, 168, 168, 0.5);
}